/*Element styles*/
body, html {
    height: 100%;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*
a {
    color: #0067b8;
    
}

a:hover {
    color: #1b1b1b;
}
*/
h5 {
    font-size: 1em;
    padding: 10;
    line-height: 25px;
    margin: 10;
}

p {
    line-height: 25px;
}

/*Media queries*/
@media screen and (max-width: 900px) {
    #roleInfo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #infoContainer {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 768px) {
    #infoContainer {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

}

@media screen and (min-width: 200px) {

}

/*Home Page*/
#imgContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/artur-tumasjan-p_cHW1REBWc-unsplash.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#imgContainer h1 {
    padding: 0px;
    margin: 0px;
    font-size: 3.5em;
}

#imgContent {
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: black;
    opacity: 0.8;
    padding:30px;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.mainContent {
    margin: 30px;
    padding: 100px 10px;
    text-align: center;
}

#roleInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;

    padding: 100px 10px;
    margin: 10px;

    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    color: black;
}

/*Property Info Page*/
.infoCard {
    /*border: 1px solid black;*/
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.infoCard img {
    border-radius: 10px;

}

.propertyStats {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.propertyDescription {
    padding: 10px;
    text-align: left;
}

.features {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;

}

.features p {
    /*background-color: #F7E7CE;*/
    border: 1px solid black;
    color: black;
    padding: 10px;
    border-radius: 10px;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}





/*----------------------------*/

.footer {
    padding: 20px;
    text-align: center;
    background-color: #1b1b1b;
    color: white;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}